body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    color: green;
}
nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #007BFF;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}
.delete-button{
     padding: 5px 10px;
    cursor: pointer;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px; 
}
.delete-button:hover {
    background-color: darkred;
}