/* Make the body a column flex container */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;

    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0; 
}

/* Make main content grow to fill space */
main {
    flex: 1;
    flex-direction: column;
    display: flex;

    align-items: center;
    text-align: center;
}

/* Nav styling */
nav {
    width: 100%;
    position: absolute; /* position over image */
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    z-index: 10; /* make sure it's above the welcome overlay */
    background: rgba(0, 0, 0, 0.3); /* semi-transparent background for readability */
    box-sizing: border-box;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #FFD700;
}

nav .logo {
    font-size: 1.5rem;
    color: #fff;
}

/* Form styling */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    width: 30%;
    padding: 10px;
    flex-wrap: wrap;
}
label{
    font-weight: bold;
}
input, select {
    width: 100%;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 8px;
}
/* Table styling */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
    text-align: center;
}

/* Buttons */
button {
    padding: 5px 80px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
}
button:hover {
    background-color: #0056b3;
}
.delete-button {
    padding: 5px 80px;
    cursor: pointer;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
}
.delete-button:hover {
    background-color: darkred;
}

/* Footer */
footer {
    text-align: center;
    color: #777;
}
